/* Estilos generales */
body {
  font-family: "Gotham", sans-serif;
}

.bg-primary {
  background-color: #bd9615 !important;
}

#botonCrear {
  margin-top: 20px; /* Ajusta el valor según la separación deseada */
  margin-bottom: 15px;
}

#botonDescargar {
  margin-top: 20px; /* Ajusta el valor según la separación deseada */
  margin-bottom: 15px;
}

.text-white {
  color: white !important;
}

.p-4 {
  padding: 3rem !important;
}

h1,
h2 {
  font-weight: bold;
}

/* Estilos para el título colorido */
h2.display-4 {
  background: linear-gradient(to right, #f73302, #60aaf8, #0d5bb0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display-8 { 
    background: linear-gradient(to right, #a12203, #f07575, #50a1f7, #0d5bb0);
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
  }

.display-5 {
  color: white;
}

.container {
  text-align: center;
}

/* Estilos generales para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

#table-encabezado {
  height: auto;
}

.table-container {
  max-height: 300px;
  overflow-y: auto; /* Habilitar scroll vertical si el contenido es demasiado alto */
}

th,
td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilos específicos para cada columna */
th:nth-child(1) {
  /* ID */
  width: 5%;
  color: black; /* Agregar esta línea para establecer el color negro */
  background-image: linear-gradient(to right, #e7f0c0, #ff9706);
}

th:nth-child(2) {
  /* Responsable */
  width: 20%;
  background-image: linear-gradient(to right, #f69e96, #f66923);
}

th:nth-child(3) {
  /* Fecha */
  width: 15%;
  background-image: linear-gradient(to right, #66ccff, #4444fc);
}

th:nth-child(4) {
  /* Solicitante */
  width: 25%;
  background-image: linear-gradient(to right, #3ce875, #0435e3);
}

th:nth-child(5) {
  /* Estatus */
  width: 15%;
  background-image: linear-gradient(to right, #f977b8, #87032f);
}

td:nth-child(1) {
  /* ID */
  width: 5%;
}

td:nth-child(2) {
  /* Responsable */
  width: 20%;
}

td:nth-child(3) {
  /* Fecha */
  width: 15%;
}

td:nth-child(4) {
  /* Solicitante */
  width: 25%;
}

td:nth-child(5) {
  /* Estatus */
  width: 15%;
}

.rendimiento-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.rendimiento-box {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.rendimiento-general {
  font-weight: bold;
}

.asuntos-resueltos {
  color: green;
}
.asuntos-pendientes {
  color: red;
}
.options-container {
  background-color: #9b9d9d;
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #ccc; /* Add a gray border */
  padding-top: 10px;
  padding-bottom: 10px;
}
form {
	max-width: 100%;
	margin: 0 auto;
}
.content {
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	float: center;
}

fieldset {
	padding: 1em;
	border-color: #d4d4d4;
	border-style: solid;
	border-width: 2px;
	background: #fff;
    position: relative; 
}

legend {
	color: #bfbfbf;
	padding: 0.3em 0.6em;
	background: #fff;
	font-size: 1.3em;
    position: relative;
    padding-right: 20px; /* Espacio para el checkbox "Todas" */
}

.container ul {
	margin-top: 0;
	padding-left: 0em;
}
.container ul li {
	list-style-type: none;
}
.container ul + ul {
	margin-bottom: 0;
}
.container ul + ul > li + li label {
	margin-bottom: 0;
}

/*** Styling Radio & Checkbox Input Fields (start here) ***/
label {
	font-weight: 600;
  text-align: left;
	color: #7f7d7d;
	margin-bottom: 11px;
	width: 100%;
	float: left;
	cursor: pointer;
	padding: 0 0.6em;
	box-sizing: border-box;
	background: #e6e6e6;
	transition: all 0.7s ease 0s;
}
input[type="checkbox"] + label:hover {
    background-color: #BFE7F8; /* Change background on hover */
}
label.todas {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.2em 0.5em;
    margin-top: 0.7em;
    margin-right: 0.8em;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 0.9em;
    width: auto;
    background: #ffffff;
}


input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	line-height: 3em;
}

input[type="checkbox"]:disabled + label {
	color: #ccc !important;
	cursor: not-allowed;
}
input[type="checkbox"]:checked:disabled + label:after {
	border-color: #ccc;
}

input[type="checkbox"] + label:before {
	content: "";
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 0.5em;
	border: 2px solid #ccc;
	background: #fff;
	margin-top: 0.9em;
}
input[type="checkbox"]:checked + label {
	background: #c1eec2;
}

input[type="checkbox"]:checked + label:before {
	border-color: #59be5b;
    background: #7dd27e;
}

input[type="checkbox"]:checked:disabled + label {
	background: #ccc;
	color: #fff !important;
}

input[type="checkbox"]:checked:disabled + label:before {
	border-color: #bdbdbd;
}

@media (max-width: 650px) {
	.content {
		width: 100%;
	}
}
#checkboxTodas {
    position: absolute;
    top: 0.5em;
    right: 5px; 
    width: auto; 
}
label.todas:hover,
label.todas:focus {
    background: #d9d9d9;
}


.gen {
	max-height: 17vw;
}

.delegacion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ajusta el ancho mínimo de las columnas según tus necesidades */
  gap: 10px; /* Espacio entre las columnas */
}

.opcionesContainer {
    max-height: 200px; /* Ajusta la altura según tus necesidades */
    overflow-y: auto;
}

/*estilos de la barra de desplazamiento*/
::-webkit-scrollbar {
  width: 13px; /* Barra un poco más ancha para resaltar */
  background-color: #f0f0f0; /* Fondo sutil */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #ff5733, #3498db); /* Gradiente llamativo */
  border-radius: 6px; /* Bordes más redondeados */
  border: 3px solid #f0f0f0; /* Borde sutil para separar del fondo */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra sutil para profundidad */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(to bottom, #ff4115, #2980b9); /* Gradiente más oscuro al pasar el mouse */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra más intensa al pasar el mouse */
}
