/* Estilos generales */
body {
  font-family: "Gotham", sans-serif;
}

.bg-primary {
  background-color: #bd9615 !important;
}

#botonCrear {
  margin-top: 20px; /* Ajusta el valor según la separación deseada */
  margin-bottom: 15px;
}

#botonDescargar {
  margin-top: 20px; /* Ajusta el valor según la separación deseada */
  margin-bottom: 15px;
}

.text-white {
  color: white !important;
}

.p-4 {
  padding: 3rem !important;
}

h1,
h2 {
  font-weight: bold;
}

/* Estilos para el título colorido */
h2.display-4 {
  background: linear-gradient(to right, #ff7e5f, #4aa0ff, #1d60a8);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.display-5 {
  color: white;
}

.container {
  text-align: center;
}

/* Estilos generales para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
}

#table-encabezado {
  height: auto;
}

.table-container {
  max-height: 300px;
  overflow-y: auto; /* Habilitar scroll vertical si el contenido es demasiado alto */
}

th,
td {
  padding: 5px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Estilos específicos para cada columna */
th:nth-child(1) {
  /* ID */
  width: 5%;
  color: black; /* Agregar esta línea para establecer el color negro */
  background-image: linear-gradient(to right, #e7f0c0, #ff9706);
}

th:nth-child(2) {
  /* Responsable */
  width: 20%;
  background-image: linear-gradient(to right, #f69e96, #f66923);
}

th:nth-child(3) {
  /* Fecha */
  width: 15%;
  background-image: linear-gradient(to right, #66ccff, #4444fc);
}

th:nth-child(4) {
  /* Solicitante */
  width: 25%;
  background-image: linear-gradient(to right, #3ce875, #0435e3);
}

th:nth-child(5) {
  /* Estatus */
  width: 15%;
  background-image: linear-gradient(to right, #f977b8, #87032f);
}

td:nth-child(1) {
  /* ID */
  width: 5%;
}

td:nth-child(2) {
  /* Responsable */
  width: 20%;
}

td:nth-child(3) {
  /* Fecha */
  width: 15%;
}

td:nth-child(4) {
  /* Solicitante */
  width: 25%;
}

td:nth-child(5) {
  /* Estatus */
  width: 15%;
}

.rendimiento-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.rendimiento-box {
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.rendimiento-general {
  font-weight: bold;
}

.asuntos-resueltos {
  color: green;
}
.asuntos-pendientes {
  color: red;
}
/* Estilo base para el contenedor */
.form-group2 {
  background-color: lightgray; 
  padding: 15px; 
  border-radius: 5px; 
}

/* Estilo base para las opciones - Abarcar todo el ancho */
.form-check {
  width: 100%; 
  display: flex; 
  align-items: left; 
  margin-bottom: 0; 
}

.form-check-label {
  background-color: #f5f5f5; 
  transition: background-color 0.3s; 
  padding: 8px 12px; 
  border-radius: 3px; 
  display: block; 
  margin-left: 0; 
  padding-left: 0; 
}

/* Resaltar al pasar el mouse */
.form-check-label:hover {
  background-color: #f0f0f0; 
}

/* Ocultar el checkbox original */
.form-check-input {
  display: none; 
}

/* Estilo para el checkbox personalizado */
.form-check-input + .form-check-label::before {
  content: ''; 
  display: inline-block;
  width: 1.5em; 
  height: 1.5em; 
  margin-right: 0.5em; 
  background-color: #f5f5f5; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  vertical-align: middle; 
  cursor: pointer; 
  transition: background-color 0.3s; 
  margin-left: 0;
}

/* Cambiar color del checkbox personalizado y la etiqueta al seleccionar */
.form-check-input:checked + .form-check-label::before {
  background-color: green;
  border-color: green;
}

.form-check-input:checked + .form-check-label {
  animation: changeAndResetColor 1s forwards; 
}
.form-check:checked + .form-check-label::before {
  background-color: rgb(2, 200, 2);
  border-color: green;
}

.form-check:checked + .form-check-label {
  animation: changeAndResetColor 1s forwards; 
}

@keyframes changeAndResetColor {
  0% {
    background-color: #f5f5f5; 
  }
  50% {
    background-color: #f0f0f0; 
  }
  100% {
    background-color: #f5f5f5; 
  }
}
